.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 70vw;
  max-height: 90%;
  overflow-y: auto;

  .modal-top {
    display: flex;
    justify-content: space-between;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* .modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3); 
}*/

.modal-content h2 {
  margin-bottom: 16px;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content textarea {
  width: 100%;
  margin-top: 4px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.input-text-modal {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 2.3rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background: #ccc;
}

.modal-buttons button:last-child {
  background: #007bff;
  color: white;
}


.datetime-picker {
  display: flex;
  gap: 2em;
}

.cake-row {
  justify-content: space-between;
}

.cake-item {
  display: flex;
  align-items: stretch; /* faz o número ocupar a altura total do texto */
  gap: 0.8em;
  margin-bottom: 0.8em;
}

.cake-number {
  font-weight: bold;
  border-radius: 8px;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: -webkit-fill-available;
}

.cake-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

/* .modal-content input {
  height: 2.5em;
} */

.day-cell.domingo-cinza span {
  color: #b0b0b0 !important; 
}

.modal-close-button {
  padding: 0.75rem 1.5rem;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-edit-content {
  display: flex;
  gap: 2rem;

  .modal-name {
    width: 50%;
  }

}

.pill-group {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding-right: 30px;
  label {
    font-weight: 400;
    font-size: small;
  }
}

.pill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #7a7a7a;
  border-radius: 9999px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  font-weight: 500;
  background: #fff;
  transition: 0.3s;
}

.pill.active {
  background: #7a7a7a;
  color: #fff;
}

.pill input {
  display: none;
}

.react-datepicker__input-container input, .input-group {
  padding: 10px 0px 10px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 450px) { 
  .modal-title {
    font-size: 1rem;
  }
  .modal-close-button {
    width: 2rem;
    padding: 5px 4px;
  }
  .modal-edit-content {
  gap: .5rem;
  }

  .cake-info-1{
    align-items: flex-start;
    flex-direction: column;

    div {
      width: 100%;
    }
  }
}