.cake-screen {
  height: 100vh;           /* ocupa toda a altura da tela */
  align-items: center;     /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  box-sizing: border-box;  /* garante que padding não quebre o layout */
  
}

.cake-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  /* padding-top: 3rem; 
  padding-bottom: 3rem;  */
  gap: 3rem;
  background-color: #d9d9d9;
}


.cake-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  justify-content: flex-start;
  /* gap: 2rem; */
  flex-wrap: wrap;
  border: #484848 3px solid;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;

  .cake-description {
    width: 95%;
    white-space: pre-line;
    font-size: 1.8rem;
  }
  img {
    /* width: 25em; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-right {
    object-fit: cover;
    width: 59vw;
    max-height: 99.3vh;
  }
  .main-left {
    width: 39vw; 
    display: flex;
    gap: .75em;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
    justify-content: space-around;

    .cake-name {
      font-size: 3rem;
    }

    table {
      text-align: left;
    }
  }
}

.size-up {
  transform: scale(1.1);
}

.reserve-btn {
  width: 11rem;
  height: 5rem;
  border-radius: 30px;
  font-size: 38px;
  cursor: pointer;
  transition: 0.5s all;
}

/* .reserve-btn:hover{
  background-color: #c9c9c9d2;
} */

.cake-プチガトー4り{
  .main-right {
    width: 59vw;
  }

  .main-left {
    width: 39vw;
  }
}

.cake-プチガトー5り{
  .main-right {
    width: 59vw;
  }

  .main-left {
    width: 39vw;
  }
}

.reserve-btn {
  background: none;
  border: none;
}

@media (max-width: 990px) {
  .cake-main {
    flex-direction: column;
    width: 30em;
    max-width: 100vh;
    img {
      padding: 1em;
      width: 100%;
    }
  }
  .main-right, .main-left {
    flex: none; 
    width: 100% !important;    
    /* height: 45% !important; */
  }
  .main-right {
    object-fit: cover;
  }
  .cake-description {
    width: 100%;
    font-size: 1.5rem !important;
  }
  .cake-inf-table {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 450px) {
  .cake-wrapper {
    flex-direction: row;
  }
  
  .cake-main {
    .cake-description {
      width: 100%;
    }

    .main-left {

      .cake-name {
        font-size: 1.5rem;
      }

      .cake-description {
        font-size: 1.3rem !important;
      }
    }
  } 

  .cake-inf-table {
    font-size: 1.2rem !important;
  }
}